*{
    align-items: center;
}

.div1 {
    margin: 20px;
    padding: 30px;
    justify-content: center;
}

.div2, p {
    display: flex;
    display: grid;
    display: block;
/*  display: inline;
    display: inline-block;
    display: inline-table; */
    flex: 1 100%;
}
