@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgreen;
    /* background: #f7f9fd; */
}

.wrapper {
    width : 90%;
    font-style: 16px;
    max-width: 43.753em;
    margin: 1em auto;
}

.container {
    width: 100%;
}

.sub-container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr; /* Is it width to height? */
    gap: 3em;
}

